<app-my-header name="Лабораторна робота №6"></app-my-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <ul>
          <li>Розробити ієрархію класів відповідно до варіанту завдання (у запропоновану у варіанті ієрархію класів можна додавати додаткові класи або інтерфейси). Деякі з класів можуть бути абстрактними.</li>
          <li>Реалізувати для ієрархії механізм інтерфейсів, при цьому один з класів повинен реалізовувати як мінімум два інтерфейси.</li>
          <li>Кожен клас з ієрархії класів повинен мати не менше двох методів.</li>
          <li>Розроблена ієрархія повинна відповідати основним принципам SOLID та патерну High Cohesion + Low Coupling.</li>
      </ul>
      </ion-text>
      <br>
    </ion-card-content>
    <ion-card-content>
      <ion-text>Варіант: Ссавець, парнокопитне, птиця, тварина</ion-text>
    </ion-card-content>
    <ion-card-content>
      <table>
        <thead>
          <tr>
            <th>Імʼя</th>
            <th>Швидкість</th>
            <th>Чи їм?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let animal of Animals">
            <td>{{ animal.name }}</td>
            <td>{{ animal.speed }}</td>
            <td>{{ animal.eat() }}</td>
          </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>
