<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Меню</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">лабораторна робота 1</ion-item>
        <ion-item routerLink="/lab2">лабораторна робота 2</ion-item>
        <ion-item routerLink="/lab3">лабораторна робота 3</ion-item>
        <ion-item routerLink="/lab4">лабораторна робота 4</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
