
<ion-header>
  <ion-toolbar>
    <ion-title size="large">Сліпченко Єгор, КН-31, Варіант-14</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h2>Завдання:</h2>
  </ion-item>
  <ion-item>
    <p>Задано три числа. Якщо всі вони парні, то знайти їх добуток. В іншому випадку – квадрат суми</p>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Число 1</ion-label>
    <ion-input type="number" [(ngModel)]="num1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Число 2</ion-label>
    <ion-input type="number" [(ngModel)]="num2"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Число 3</ion-label>
    <ion-input type="number" [(ngModel)]="num3"></ion-input>
  </ion-item>
  <ion-button routerLink="/home">Додому</ion-button>
  <ion-button (click)="calculate()">Розрахувати</ion-button>
  <ion-item *ngIf="result !== undefined">
    <ion-label>Результат:</ion-label>
    <ion-input type="text" value="{{ result }}"></ion-input>
  </ion-item>
</ion-content>
