<ion-header >
  <ion-toolbar>
    <ion-title>
      Сліпченко Єгор, КН-31, Варіант-14
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Лабораторні роботи
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Сліпченко Єгор, КН-31, Варіант-14</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2>Лабораторна робота №1.</h2>
    <h3>Знайомство з Ionic</h3>
    <p>Оберіть завдання:</p>
    <ion-button routerLink="/task1" class="task-button">До завдання 1</ion-button>
    <ion-button routerLink="/task2" class="task-button">До завдання 2</ion-button>
    <ion-button routerLink="/task3" class="task-button">До завдання 3</ion-button>
  </div>
</ion-content>
